@font-face {
  font-family: "Avenir Next";
  src: url(./assets/font/AvenirNext-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url(./assets/font/AvenirNext-Medium.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Thin";
  src: url(./assets/font/AvenirNext-Thin.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
